
@{
    ViewData["Title"] = "Index";
}

<h1>Searching for Something?</h1>

<div>
    <a asp-controller="SearchStore" asp-action="Index">Searching for Stores</a>
    <a asp-controller="Customer" asp-action="Index">Searching for Customers</a>
    <a asp-controller="OrderViewer" asp-action="Index">Searching for Orders</a>
</div>

