@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome,</h1>
    <h3><em>Asses</em></h3>
    <p>
        <a>We sell Asses</a>.
    </p>
    <p>
        <img src ="https://i.ytimg.com/vi/0vhP11e0KzU/maxresdefault.jpg" />
    </p>
</div>
